<%- include ../partials/header.ejs %> 

 <!-- Page Layout here -->
<div class="row">

    <div class="col s3 deep-space white-text">
      <!-- Grey side panel -->
      <img class="responsive-img" src="<%= cafeteria.image %>">
      <h5 class="center">STATUS</h5>
      <p>Dine-in <%= cafeteria.dineIn ? '\u2705' : '\u274C' %></p>
      <p>Curbside Pickup <%= cafeteria.takeout ? '\u2705' : '\u274C' %></p>
      <p>Delivery <%= cafeteria.delivery ? '\u2705' : '\u274C' %></p>
      <p>Tables available: <%= cafeteria.capacity %></p>
      <i class="material-icons right">edit</i>
    </div>
    <div class="col s9 cadet-blue white-text">
      <!-- Teal page content  -->
      <div class="section">
        <h4><%= cafeteria.name %></h4>
        <span><%= cafeteria.info %></span>
      </div><br><br>
      <div class="section">
        <div class="divider"></div>
        <h6>Leave a Comment or Review</h6>
        <div class="">
            <form class="col s12" action="/cafeterias/<%= cafeteria._id %>/comments" method="POST">
              <div class="row">
                <div class="input-field col s8 white">
                  <i class="material-icons prefix black-text">mode_edit</i>
                  <textarea id="create-comments" class="materialize-textarea"></textarea>
                  <label for="create-comments">Share your thoughts...</label>
                </div><br>
                <button class="btn waves-effect waves-light btn-small dark-purple" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
              </div>
            </form>
          </div>
      </div>
    </div>

</div>





<%- include ../partials/footer.ejs %>